/* Setting Layer */

/* white */
$white: #ffffff;
$white-unicorn-silver: #E8E8E8;
$white-powder-white: #EBF1F5;
$white-dr-white: #fafafa;
$white-powder-white: #EBF1F5;

/* grey */
$grey-argent: #888888;
$grey-lacquered-licorice: #383838;
$grey: #808080;
$grey-canterbury-bells: #B7C5E7;
$grey-allegory: #B4B1AB;
$grey-weathered-stone: #c3c3c3;

/* black */
$black: #000;
$black-carbon: #333;
$black-argent: #888888;
$black-dark-grey: #363636;

/* blue */
$blue-dark-soul: #102454;
$blue-prefect: #5770AC;
$blue-magnesia-bay: #5EC6DE;
$blue-adamantine-blue: #43AFEC;
$blue-faded-poster : #7FDEF4;
$blue-passionate-blue: rgba(127, 222, 244, 0.1);

/* purple */
$purple-loudicious-pink: #CF33AD;
$purple-hokkaido-lavender: #7C2DE1;

/* green */
$green-bulma-hair: #38a169;

/* red */
$red-shojohi-red: #DB342A;
$red-flushed: #E25757;
$red-vitality: #991B1B;


/* shadow color */
$black-shadow: rgba(0, 0, 0, 0.1);
